.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 250px;
    box-shadow: -1px 2px 23px -7px #b0bbb8;
    background-color: white;
    border-radius:10px;
}

.title{
    font-size: 3rem;
}

.subtitle{
    margin-top: 15px;
}