.tableContainer {
    margin: 20px auto;
    width: 100%;
  }
  
  .controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .select {
    padding: 5px;
    font-size: 14px;
  }
  
  .scrollableTable {
    max-height: 400px; /* Set a fixed height for vertical scrolling */
    overflow-y: auto;  /* Enable vertical scroll */
  }
  
  .customTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
  .tableHeader, .tableRow {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }
  
  .tableHeading{
    text-align: center;
  }

  .tableHeader th, .tableRow td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Center-align content */
  }
  
  .tableRow:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tableRow:hover {
    background-color: #e0f7fa;
  }
  
  .actionButton {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
  
  .editButton {
    background-color: #4caf50;
  }
  
  .removeButton {
    background-color: #f44336;
  }
  
  .paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .paginationButton {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .paginationButton[disabled] {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .paginationText {
    font-weight: bold;
  }
  